<div class="container">
    <div *ngIf="this.error==true" style="color:white;background-color:red;height:30px;">
        Błąd danych
    </div>
    <div *ngIf="this.loginservice.user.login=='root'" class="cont">
        
        <table>
            <tr>
                <td>
                    Imię
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Imię</mat-label>
                        <input matInput [(ngModel)]="imie">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    Nazwisko
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nazwisko</mat-label>
                        <input matInput [(ngModel)]="nazwisko">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    Hasło
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Hasło</mat-label>
                        <input matInput [(ngModel)]="haslo" type="password">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    Wypłata
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Wypłata</mat-label>
                        <input matInput [(ngModel)]="wyplata" type="number">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button mat-raised-button color="accent" (click)="send()">
                        Wyślij
                    </button>

                </td>
            </tr>
        </table>

            
    </div>
</div>