<div class="container">
    <div *ngIf="this.loginservice.user!=null" class="cont">
        
        <a routerLink="/add/czytelnik">
            Dodaj czytelnika
        </a>
        <a routerLink="/add/ksiazka">
            Dodaj Książkę
        </a>
        <a routerLink="/add/autor">
            Dodaj autora
        </a>
        <a routerLink="/add/kategoria">
            Dodaj kategorię
        </a>
        <a routerLink="/add/wydawnictwo">
            Dodaj wydawnictwo
        </a>

            
    </div>
</div>